:root {
  --light-gray: #f5f3ef;
  --gray: #dcdcdc;
  --dark-gray: #646464;
  --black: #000;
  --white: #fff;
  --yellow: #febd2f;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: var(--light-gray);
}

/* My css */

/* one for all */

* {
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: 16rem 65rem 107rem 11rem;
  /* grid-template-columns: 25rem 22rem 25rem; */
  grid-template-areas:
    "nav"
    "banner"
    "main"
    "footer";
}

/* nav css */

header {
  grid-area: nav;
}

.navbar {
  /* background-color: aqua; */
  /* display: flex; */
  /* width: 178vh; */
  /* justify-content: space-evenly;
    align-content: center; */
}

.nav-wrapper {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  /* margin-left: 41px; */
}

.nav-left {
  list-style: none;
  /* grid-area: nav-left; */
  display: flex;
  gap: 8rem;
  margin-left: 2vw;
  /* margin-top: 1px; */
}

.nav-left a {
  color: #000;
  font-family: Roboto;
  font-weight: 600;
  font-size: 37px;
}

.nav-logo {
  /* grid-area: nav-logo; */
  scale: 2;
}

.nav-logo img {
  width: 160px;
  height: auto;
  margin-left: -2vw;
  margin-bottom: 0vh;
}

.nav-right {
  /* grid-area: nav-right; */
  width: 15vw;
  height: 6vh;
}

.btn {
  font-weight: 500;
  font-size: 41px;
  color: #fff;
  background-color: #000;
  padding: 18px 24px;
  border-radius: 40px;
}

/* banner css */

.banner-container {
  /* background-color: red; */
  grid-area: banner;
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5vw;
  max-width: 73rem;
}

.text h1 {
  font-weight: 500;
  font-size: 7em;
  font-family: Roboto Serif;
  color: #000;
}

.text p {
  font-weight: 400;
  font-size: 3rem;
  color: #646464;
}

.image {
}

.image img {
  width: 103rem;
  padding: 0 11rem 0 20rem;
}

/* main css */

main {
  grid-area: main;
}

.first-row {
  display: flex;
}

.second-row {
  display: flex;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  padding: 7vh 6vw;
  /* gap: 0vw 5vh; */
}

.cardGold {
  background-color: #febd2f;
  border-radius: 50px;
  height: 39rem;
  width: 47rem;
  grid-area: cardGold;
}

.card {
  background-color: #fff;
  background-color: aqua;
  border-radius: 50px;
  height: 39rem;
  width: 47rem;
}

.card-title {
  color: #000;
  font-family: Roboto Serif;
  font-size: 42px;
  /* line-height: 42px; */
  font-weight: 600;
}

.card p {
  color: #646464;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  /* padding: 0 1vw; */
  background-color: red;
}

.card2 {
  grid-area: card2;
  display: flex;
  flex-wrap: wrap;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.card-body {
  padding: 0em 2em;
}

.card-button {
  font-weight: 700;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  padding: 15px 21px;
  border-radius: 25px;
  border: solid 1px #dcdcdc;
}

.card-img-top {
  position: relative;
  left: 20vw;
  width: 5vw;
  top: -6vh;
  background-color: chartreuse;
}

/* footer css */

footer {
  background-color: #febd2f;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  scale: 0.7;
}

/* Styles for tablet */

@media (max-width: 810px) {
}

/* Styles for phone */

@media (max-width: 375px) {
}
